### Importación de datos

In [5]:
import pandas as pd

url = "base-de-datos-challenge1-latam/tienda_1.csv"
url2 = "base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [22]:
tienda['Producto']

0       Asistente virtual
1         Mesa de comedor
2           Juego de mesa
3              Microondas
4        Silla de oficina
              ...
2354            Iphone 15
2355            Impresora
2356        Juego de mesa
2357             Cama box
2358           Smartwatch
Name: Producto, Length: 2359, dtype: object

In [28]:
tienda[["Producto", "Precio", "Lugar de Compra"]]

               Producto     Precio Lugar de Compra
0     Asistente virtual   164300.0          Bogotá
1       Mesa de comedor   192300.0        Medellín
2         Juego de mesa   209600.0       Cartagena
3            Microondas   757500.0            Cali
4      Silla de oficina   335200.0        Medellín
...                 ...        ...             ...
2354          Iphone 15  1284400.0        Medellín
2355          Impresora   282800.0          Bogotá
2356      Juego de mesa   122900.0            Cali
2357           Cama box   691300.0           Pasto
2358         Smartwatch   195000.0            Cali

[2359 rows x 3 columns]

In [6]:
# filtrar por condicion
tienda[tienda["Precio"] > 100000]

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
...,...,...,...,...,...,...,...,...,...,...,...,...
2354,Iphone 15,Electrónicos,1284400.0,66600.0,15/11/2021,Izabela de León,Medellín,1,Nequi,1,6.25184,-75.56359
2355,Impresora,Electrónicos,282800.0,15300.0,18/03/2023,Lucas Olivera,Bogotá,5,Nequi,1,4.60971,-74.08175
2356,Juego de mesa,Juguetes,122900.0,7200.0,06/07/2021,Lucas Olivera,Cali,5,Tarjeta de crédito,4,3.43722,-76.52250
2357,Cama box,Muebles,691300.0,35000.0,02/05/2022,Pedro Gomez,Pasto,1,Tarjeta de crédito,2,1.21361,-77.28111
2358,Smartwatch,Electrónicos,195000.0,8600.0,18/06/2022,Felipe Santos,Cali,4,Tarjeta de crédito,1,3.43722,-76.52250

In [7]:
# Acceder a una fila especifica por indice

tienda.iloc[2]

Producto                       Juego de mesa
Categoría del Producto              Juguetes
Precio                              209600.0
Costo de envío                       15900.0
Fecha de Compra                   15/03/2021
Vendedor                      Juan Fernandez
Lugar de Compra                    Cartagena
Calificación                               1
Método de pago            Tarjeta de crédito
Cantidad de cuotas                         1
lat                                 10.39972
lon                                -75.51444
Name: 2, dtype: object

In [13]:
# Acceder por etiqueta de indice

tienda.loc[0]

Producto                   Asistente virtual
Categoría del Producto          Electrónicos
Precio                              164300.0
Costo de envío                        6900.0
Fecha de Compra                   16/01/2021
Vendedor                         Pedro Gomez
Lugar de Compra                       Bogotá
Calificación                               4
Método de pago            Tarjeta de crédito
Cantidad de cuotas                         8
lat                                  4.60971
lon                                -74.08175
Name: 0, dtype: object

In [14]:
# Obtener un resumen estadistico

tienda.describe()

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.878679e+05,26018.609580,3.976685,2.943196,5.365283,-74.789417
std,6.146868e+05,32860.001783,1.415370,2.819897,2.287445,1.217827
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.575000e+04,3100.000000,3.000000,1.000000,4.609710,-75.563590
50%,2.353000e+05,12400.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.781000e+05,36000.000000,5.000000,4.000000,6.251840,-74.081750
max,2.977000e+06,160800.000000,5.000000,24.000000,11.544440,-67.923900

In [15]:
# ver la forma del data frame
#  te dice cuantas filas y columnas tiene

tienda.shape

(2359, 12)

In [16]:
# Ver nombres de columnas

tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [23]:
# Sumatorias de precios de cada tienda

sumPrecio1 = sum(tienda['Precio'])
sumPrecio2 = sum(tienda2['Precio'])
sumPrecio3 = sum(tienda3['Precio'])
sumPrecio4 = sum(tienda4['Precio'])

print(sumPrecio1)
print(sumPrecio2)
print(sumPrecio3)
print(sumPrecio4)

1150880400.0
1116343500.0
1098019600.0
1038375700.0

### Titulo

# 2. Ventas por categoría

In [39]:
# Limpiar espacios y unificar texto en las categorías
for df in [tienda, tienda2, tienda3, tienda4]:
    df['Categoría del Producto'] = df['Categoría del Producto'].str.strip().str.title()

# Cantidad de productos por categoría
ventas1 = tienda['Categoría del Producto'].value_counts()
ventas2 = tienda2['Categoría del Producto'].value_counts()
ventas3 = tienda3['Categoría del Producto'].value_counts()
ventas4 = tienda4['Categoría del Producto'].value_counts()

print("Tienda 1 - Categorías más populares:")
print(ventas1, '\n')

print("Tienda 2 - Categorías más populares:")
print(ventas2, '\n')

print("Tienda 3 - Categorías más populares:")
print(ventas3, '\n')

print("Tienda 4 - Categorías más populares:")
print(ventas4)

Tienda 1 - Categorías más populares:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes Y Diversión       284
Instrumentos Musicales     182
Libros                     173
Artículos Para El Hogar    171
Name: count, dtype: int64

Tienda 2 - Categorías más populares:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes Y Diversión       275
Instrumentos Musicales     224
Libros                     197
Artículos Para El Hogar    181
Name: count, dtype: int64

Tienda 3 - Categorías más populares:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes Y Diversión       277
Libros                     185
Instrumentos Musicales     177
Artículos Para El Hogar    177
Name: count, dtype: int64

Tienda 4 - Categorías más populares:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes Y Diversión       277
Electrodomésticos          254
Artículos Para El Hogar    201
Libros                     187
Instrumentos Musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda